extends layout

block content
    link(rel="stylesheet", href="stylesheets/aboutStyle.css")
    div(class = "bodAbout")
        div(class = "left")
        div(class = "center")
            div(class = "padAbout")
            div(class = "media bounceIn")
                div(class = "media-body") 
                    h1 About Page
            div(class = "padAbout1")
            div(class = "media bounceIn")
                div(class = "media-body")
                    h5(class = "mt-0") Who Is Justin
                    p Hello, this is my personal website where I house all my projects.
            div(class = "media bounceIn")
                div(class = "media-body")
                    h5(class = "mt-0") Contact
                    p E-Mail: justinqchen1000@gmail.com
        div(class = "right")