extends layout

block content
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="stylesheets/hover.css")
    link(rel="stylesheet", href="stylesheets/animate.css")
    div(class = "bod")
        div(class = "left")
        div(class = "center")
            div(style = "margin-top: 20vh")
            h1(class = "bounceIn hvr-grow text-h") Welcome To My Website
            p(class = "bounceIn hvr-grow text-p") Hi! Navigate above to check out projects
        div(class = "right")