<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Justin Chen
        link(rel="stylesheet", href="stylesheets/start.css")
    body
        video(id = "video" autoplay loop)
            source(src="videos/water.mp4", type="video/mp4")
        div(id = "videoDiv")
            h1 Welcome To My Website.
            div(id = "button") Click Here
        div(id = "projectDiv")
            div(style = "display:flex;")
                div(id = "left")
                div(id = "center")
                    h1(style = "text-align") My Projects
                    br
                    div(class = "grid-container")
                div(id = "right")
    script(src="javascripts/start.js")