extends layout

block content
    link(rel="stylesheet", href="../stylesheets/wordfinderStyle.css")
    div(class = "bodWordfinder")
        div(class = "left")
        div(class = "center")
            div(class = "padword")
            h1(class = "title") WordFinder
            div(class = "padword")
            p(class = "description") Want program that can help you with games such as scrabble? Enter random letters and english words will appear.
            div(class = "contain")
                input(type="text" class = "inputData" name="letters" maxlength = "8")
                button(class = "submit btn btn-primary") Submit
            div(class = 'result')
        div(class = "right")
    script(src="../javascripts/wordfinderClient.js")